@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: poppins;
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #04E762;
    --secondary-color: #F0B67F;
    --accent1-color: #CFD15E;
    --accent2-color: #C7FF92;
    --heading-font: "Times new roman", serif;
    --paragraph-font:"Arial", serif;
    --nav-background-color: #04E762;
    --nav-link-color: #04E762;
    --nav-hover-link-color: #04e;
    --nav-hover-background-color: #04E762;/**/
}
body{
    font-family: var(--poppins);
    max-width: 960px;
    padding: 20px;
}
header{
  padding: 35px;
  text-align: right;
  background: #1abc9c;
  color: #CFD15E;
  font-size: 25px;/**/
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 12px;
	height: auto;
    float: left;
}
div.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;/**/
}
  img {
    max-width: 15opx;
    max-height: 150px;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
footer {
	margin: 0 0.25rem 0 1rem;
	width: 12px;
	height: auto;
    float: center;
}/**/